// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}



	//varibles
//colors
@malibu: #7CAAF8; //background color
@mindaro: #D5F778; //font-color

//fonts sizes
@headingFonts: 1.8rem;

//mixins
.center(){
	background-color: @malibu;
	margin: 0 auto;
	max-width: 800px; 	
}



/* my code goes here */

header{
	display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;

    nav{
      display: flex;
      justify-content: space-between;
      width: 50%;
      a{
      text-decoration: none;
      color: @malibu;

      	&:hover{
      	color: @mindaro;
      	transition: 500ms;
      	}
      }

    }
}

.main-container{
	display: flex;
	flex-direction: column;
	.center;
	
	.content{
		display: flex;
	  	flex- direction: row;
	  	justify-content: space-evenly;
	  	align-items : center;
	  	border-bottom: 2px dashed @mindaro;
	  	padding: 25px 30px;

	  	img{
	  	  border: 2px dashed @mindaro;
	  	  transform: rotate(270deg)
	  	}

	  	h1{
	  
	  	  font-size: @headingFonts;
	  	  color: @mindaro;
	    }
	}// end of content section

	.container2{
		display: flex;
		flex-direction: column;;
		border: 2px solid black;

		.about{
			display: flex;
			flex-direction: column;
			 align-items: center;
			border-bottom: 2px dashed @mindaro;
		  	padding: 25px 30px;

		  	h2{
		  	 font-size: 1.4rem;
		  	 color: @mindaro;
		  	 margin-bottom: 10px;
		  	}
		  	p{
		  	  color: @mindaro;
		  	   font-size: 1.2rem;
		  	   text-align: center;
		  	}
		}// about section

		.intro{
			.about();	
		}

		.skills{
			.about();

			ul{
			    list-style-type: disc;
    			font-size: 1.2rem;
    			line-height: 2.2rem;
    			
    			color: @mindaro;
		  	   
			}

			
		}
	}	
}












